extends ./layout.pug
block content
	h1 " lorem ipsum"
	p " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates aspernatur commodi molestiae minus quos molestias, excepturi voluptate velit tempora voluptatibus."