doctype html
html(lang="en")

	include ./partials/_head.pug
	body

		include ./partials/_nav.pug
		block content



		script(src='/static/js/jquery-2.1.4.min.js')
		script(src='/static/js/bootstrap.min.js')
		script(src='/static/js/smoothscroll.js')